__pycache__/
*.pyc
*.pyo
*.pyd
*$py.class
.ipynb_checkpoints/

logs/
runs/
outputs/
wandb/
Results/
results/
predictions/
experiments/
*.log

checkpoints/
saved_models/
models/
*.pt
*.pth
*.ckpt

.cache/
hf_cache/
.pytest_cache/
.mypy_cache/

build/
dist/
*.egg-info/

.venv/
venv/
env/
ENV/

.DS_Store
Thumbs.db

kaggle_outputs/

.vscode/
.idea/
.env

data/
dataset/
datasets/
med-vqa-data/
VQA-Med/
VQA-Med-2019/
